/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
    /* left */
    .brand img { width: 100%; }
    .profile .row .col-6 p{ font-size: 12px; }
    .left .sidebar ul li a{ font-size: 13px; }


    /* middle */
    .middle .pic-post img { width: 300px; }
    .DP-circular-img img { width: 70%; }
    p { font-size: 80%; }
    .title {font-size: 90%; padding-top: 8px; }
    .caption{ margin-top: 0px; font-size: 60%; }
    .middle .pic-post img { width: 100%; }

    /* right */
    .follow-people h3{ font-size: 100%; }
    .who-to-follow-name{ font-size: 11px; }
    .follow-people .col-2{ margin-right: 3px; }
    .follow-people{
        margin-left: 10px;
        margin-top: 15px;
        padding-left: 5px;
        padding-top: 5px;    
    }
    .copyright p { font-size: 7px; }
    
}

/* Small tablet to big tablet: from  768px to 1023px */
@media only screen and (max-width: 1023px) {
    .container { width: 95%; }
    /* left */
    .left { width: 25%; }
    .profile .row .col-6 p { font-size: 60%;}
    .profile .row .col-2 img { width: 80%; }
    .sidebar ul .search { display: inline-block; padding: 0;}
    .left .sidebar ul .search:hover { width: 170px; padding: 0px 3px;}
    /* middle */
    .middle { width: 75%;}

     /* right */
    .right { display: none; }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {

        .burger { display: block; margin-right: 30px; }

        .container { width: 100%; }

        /* left */
        .left {display: none;}
        
        .left .brand, .profile, .sidebar {display: none;}
        
        
        /* middle */
        .active-page {display: block;}
        .nav-var-menu {
            display: flex;
        }
        .nav-var-menu li img {
            
        }
        .nav-var-menu li {
            margin: 2% 4%;
            list-style: none;
        }
        .nav-var-menu li .icon-link {font-size: 120%;}
        .fas:hover { color:rgb(122, 213, 219);}

        .nav-var-menu li .icon-link {margin-top: 3%;}
        .middle { width: 100%; }
        /* form .textarea { width: 60%; } */

        .middle .pic-post img {height: 70%;}
        .middleContent .row .col-2 { width: 15%; }
        .middleContent .row .col-8 { width: 80%; }
        
       
      
        /* right */
        .right { display: none; }


}
/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
        /* left */
        
      
        /* middle */
        
         /* right */
        
}